.media[album]
  = link_to album, class: "pull-left thumbnail" do
    - if album.images.first
      = image_tag album.images.first.file.url(:thumb), class: "media-object"
    - else
      = image_tag "no_photo.png", class: "media-object"
  = link_to "#", class: "remove-album close hide", id: album.id do
    &times;
  = link_to "#newAlbumModal", class: "edit-album close hide", data: { toggle: 'modal' }, id: album.id do
    %i.icon-pencil
  .media-body
    %h4.media-heading
      = link_to album.name, album
    %div
      = album.desc
